<!doctype html>
<html>

<head>
    <title> {{ component }} </title>
    <link href="/static/favicon.png" rel="icon" type="image/png">
    <link href="/dist/components/{{ component }}.css" rel="stylesheet">


</head>

<body>
    <div style="background-color: #333; color: white; display: flex; justify-content: space-between;">
        <span style="float:left">{{ component }}</span>
        <span style="float:right; text-align:right;">Component bundled: {{ time }}
    </div>
    </div>
    <div id="app">
        <comp {% for key in data %} :{{key}}="{{key}}" {% endfor %}></comp>
    </div>
</body>

<script type="module">
    import Vue from "/node_modules/vue/dist/vue.esm.browser.js"
    import Component from "/dist/components/{{ component }}.js"
    let data = {{ data | tojson }}

    new Vue({
        components: {
            comp: Component,
        },
        el: '#app',
        data() {
            return data
        }
    })
</script>

</html>
