<!doctype html>
<html>

<head>
    <title>ESS Multilevel</title>
    <link href="/static/favicon.png" rel="icon" type="image/png">
    <link href="/dist/app.css" rel="stylesheet">


</head>

<body>
    <div id="app">
        <app {% for key in data %} :{{key}}="{{key}}" {% endfor %}></app>
    </div>
</body>

<script type="module">
    let data = {{ data | tojson }}

    import App, { Vue } from "/dist/app.js"

    Vue.component("app", App);
    new Vue({
        el: '#app',
        data() {
            return data
        }
    })

</script>

</html>
